@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #111;
    color: #FFF;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
.listas {
    margin-top: -105px;
}
footer {
    margin: 50px 0px;
    text-align: center;
}
.carregamento {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    position: fixed;
    z-index: 99;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}